 body{
background-color: rgb(61, 60, 60);
/* margin-left: 20px;
margin-right: 20px; */

}
.Bnice{
    background-color: darkslategrey;
}
 .one li {
    padding-top: 20px;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;    
}
.one li a{
    text-decoration: none;
    color: wheat;    
}
.one li a:hover{
    color: aqua;
}
#mummy a{
    padding-top: 20px; 
    color: wheat;
    font-size: 20px;  
}
#mummy a:hover{
    color: aqua;
}

.phone ul{
    float: right;
    margin-left: 20px;
    margin-right: 20px; 
    height: 4rem;   
}
.row img{
    height: 45px;
   width: 10%;
   margin-top: 10px;
   margin-bottom: 8px;
}
.carousel-item img{
    height: 350px;
    
}
.card img{
height: 240px;
width: 38%;
}
.contas{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;  
    justify-content: end;
    background-color: rgb(78, 78, 2); 
    margin-bottom: 1rem; 
    justify-content: space-between;  
}

.form-group{
    height: 6rem;
}
.mice{
    height: 25rem;
    width: 25rem;
    margin-top: 2rem;
}


/* .goat{
    height: 200px;
    width: 100%;
} */

/*.We{
 width: 107%;
 height: 200px;   
} */
/* .logo img{
    height: 40px;
    width: 10%;
    
} */